.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background-color: rgba(0,0,0,.5);
}
.myModalContent {
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
    min-width: 300px;
}
.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}